<div class="form-wrapper">
        <form action="/users/123444/?_method=delete" method="post">
            <input type="text" name="email" placeholder="Enter Email">
            <input type="password" name="password" placeholder="Enter Password">
                <button type="submit">Submit</button>
        </form>
</div>